@namespace PT.Blazor.Components.Layout
@inherits LayoutComponentBase

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<PageTitle>my-pets.online</PageTitle>

<div style="background-color: var(--color-primary-light); min-height:100vh; width:100%; padding:0; margin:0;">
    @Body
</div>

