@namespace PT.Blazor.Components.Layout
@inherits LayoutComponentBase

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<PageTitle>my-pets.online</PageTitle>

<div style="background-color: var(--color-secondary); min-height:100dvh; min-width:100dvw;">
    @Body
</div>

