@inherits LayoutComponentBase

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<PageTitle>my-pets.online</PageTitle>

<div style="background-color: #f0f0f0; height: 100dvh; display:flex; justify-content:center; align-items:center; padding:10px;">
    <MudGrid Justify="Justify.Center">
        <MudItem xs="11" sm="8" md="6" lg="4">
            <MudPaper Elevation="2"
                      Class="pa-1"
                      Style="border-radius:10px; height:95dvh; border: 1px solid #4CAF50; overflow: hidden;">
                @Body
            </MudPaper>
        </MudItem>
    </MudGrid>
</div>
